body{
    background-color: #221845;
    color: #eaeaea;
    font-family: 'Montserrat';
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main{
    flex: 1; 
}

.header, .footer{
    background-color: #581E8F;
}

.header__content{
    display: flex;
    justify-content:space-between;
}

.logo{
    font-size: 30px;
}

nav{
    display: flex;
    gap: 30px;
    font-size: 20px;
    align-items: center;
}

nav a{                
  border-bottom: 3px solid transparent;   
  transition: border-color 0.3s ease;
}

nav a:hover{
    border-color: #471577;
}

.hero{
    text-align: center;
    margin-top: 150px;
}

.hero p{
    margin-top: 20px;
}

.to-games{
    padding: 10px 20px;
    margin-top: 50px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    background-color: #581E8F;
    color: inherit;
    transition: 0.3s ease;
    cursor: pointer;
}

.to-games:hover{
    background-color: #721EC2;
}

.about{
    background-color: #650770;
    margin: 100px 0;
    padding: 20px;
    border-radius: 10px;
}

.describe{
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-top: 20px;
}

.footer__content{
    display: flex;
    justify-content: space-around;
}

.footer__nav{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
}

.footer__content img{
    max-width: 100px;
}

.policy{
    text-align: center;
}

.policy p{
    font-size: 10px;
}